<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h1>{{statistics.current}} - {{category.current}}</h1>
      </div>
      <div class="panel panel-body">
        <div map-of-poland></div>
        <div class="scale">
          <div ng-repeat="n in [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]"
               ng-style="{backgroundColor:'{{n | mapColour}}'}">
            {{n}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>
      <button ng-click="createDummyData()" class="btn btn-block btn-default">Create Dummy Data</button>
    </p>
    <div class="panel panel-default">
      <div class="panel panel-body">
        <div class="provincelist">
          <div ng-repeat="(key, province) in dummyData"
               ng-class="{active:hoverProvince==key}"
               ng-mouseover="changeHoverProvince(key)">
            <div>{{key}}</div>
            <div>{{province.value | number}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
